html > * {
    color: #ddd;
    font-family: 'Open Sans' sans-serif;
}

.heading {
    font-size: 30px;
    display: flex;
    justify-content: center;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 3px;
    text-shadow: 2px 2px black;
}

.body {
    width: 100%;
    flex: 1;
    display: flex;
    justify-content: center;
    margin-top: 10px;
    flex-direction: column;
}

.game-status {
    font-size: 12px;
    font-style: italic;
    display: block;
    text-align: center;
    width: 100%;
}

.game-info-section {
    margin-top: 10px;
    display: flex;
    flex: 1;
}

.game-info {
    flex: 1;
    align-items: center;
    display: flex;
    justify-content: center;
}

.clip-it {
    width: 100px;
    border: 1px solid transparent;
    background-color: rebeccapurple;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
    align-self: center;
    margin-top: 30px;
}

.clip-it:disabled {
    background-color: gray;
    cursor: not-allowed;
    color: #ddd;
}

.clip-characters {
    display: flex;
    padding: 10px 0px;
    justify-content: space-around;
    width: 100%;
}

.clip-info {
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.clip-character {
    margin: 5px;
    background-color: #242729;
    align-items: center;
    justify-content: center;
    display: flex;
    height: 100px;
    width: 100px;
    border: 1px solid transparent;
    border-radius: 5px;
}

.selected {
    border: 2px solid #ddd;
    font-weight: 600;
}

.clip-info-label {
    text-align: center;
}

.time-stamp {
    width: 100px;
}
